.info {
  font-size: 2.195dvw; /* ≈ 30px */
  padding: 1.464dvh; /* ≈ 9.94px */
  float: right;
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 30dvw !important; /* ≈ 410px */
  min-height: 20dvh !important; /* ≈ 136px */
  border: 0.0732dvw solid var(--dark-color); /* ≈ 1px */
  border-radius: 0.585dvw; /* ≈ 8px */
  background-color: var(--primary-color);
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1dvh;
  padding: 0 1.5dvw; 
  width: 100%;
}

.title {
  color: var(--light-color);
  font-family: var(--input-font);
  padding: 0.5dvh;
  cursor: pointer;
}

.link-up {
  color: var(--light-color);
  display: flex;
  gap: 0.5dvh;
  font-family: var(--input-font);
  cursor:auto;
}

a {
  text-decoration: none;
  color: var(--light-color);
  font-family: var(--logo-font);
}

.display {
  margin: 0.7326dvw; /* ≈ 10px */
  width: 100%;
  height: 4.65dvh !important; /* ≈ 31.5px */
  font-size: 1.61dvw; /* ≈ 22px */
  text-align: left;
  padding: 1.4727dvh 1.464dvw; /* ≈ 10px 20px */
  border: none;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--light-color);
  letter-spacing: 0.055dvw; /* ≈ 0.75px */
  font-family: var(--input-font);
}

input:focus {
  outline: none;
  box-shadow: none;
}

.keypad {
  padding: 1.5dvw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5dvh 1.5dvw;
  justify-items: center;
}

#exponent {
  font-size: 0.8416dvw; /* ≈ 11.5px */
}

.keypad button {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 0.585dvw; 
  font-family: var(--button-font);
  font-size: 1.171dvw; 
  background-color: var(--secondary-color);
  color: var(--light-color);
  cursor: pointer;
  transition: var(--transition);
}

.keypad button:hover {
  filter: brightness(90%);
  transform: scale(1.03);
}

.keypad button:active {
  filter: brightness(75%);
  transform: scale(0.97);
}

.keypad button .number {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.keypad .special {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.keypad .high {
  background-color: var(--accent-color);
  color: var(--light-color);
}
