.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 30dvw;
  min-height: 20dvh;
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  background-color: var(--primary-color);
}

.display {
  margin: 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-align: left;
  padding: 10px 20px;
  border: none;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--light-color);
  letter-spacing: 0.75px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.keypad {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  flex: 1;
  width: 57.7px;
  height: 57.5px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  background-color: var(--secondary-color);
  color: var(--light-color);
  cursor: pointer;
}

.number {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.special {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.high {
  background-color: var(--accent-color);
  color: var(--light-color);
}

button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
